/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require devises
 *= require exams
 *= require questions
 *= require jquery.countdown
 *= require prism
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body, html {
  height: 100%;
}

#wrapper {
   height: 100%;
  .content {
    min-height: 500px;
  }

  .footer {
    height: 25px;
    border-top: 1px solid #E1E1E1;
    padding-top: 10px;
    font-weight: bold;
  }
}

.navbar-left {
  font-size: 20px;
}

thead {
  background-color: #E1E1E1;
}

.width-flash {
  padding: 0px;
}

a:hover {
  text-decoration: none;
}

ul, ol {
  padding: 0px;
}

table {
  .label {
    font-size: 100%;
  }
}
