.exam {
  .created_date, .subject {
    width: 20%;
  }

  .status, .duration, .spent_time {
    width: 10%;
  }

  .question_number {
    width: 15%;
  }

  .score {
    width: 10%;
  }

  .action {
    width: 5%;
  }

  .radio {
    padding-left: 20px;
    font-weight: normal;
  }

  .check_box {
    font-weight: normal;
    display: block;

    .ck {
      margin-right: 5px;
    }
  }

  .show_score {
    color: blue;
    font-weight: bold;
    font-size: 1.5em;
  }

  #clock {
    font-size: 16px;
    font-weight: bold;
    border: none !important;
    background-color: inherit !important;
  }

  .timer {
    border: 1px solid #E6E6E6;
    background-color: rgba(255, 255, 204, 0.5);
    position: fixed;
    right: 10px;
    top: 70px;
    border-radius: 2px;
    width: 200px;
  }

  .btn-submit {
    border-radius: 2px;
    margin-bottom: 10px;
    width: 20%;
    min-width: 200px;
  }

  .button {
    border-radius: 2px;
  }

  #btn-submit-form-group {
    position: fixed;
    bottom: 0px;
    right: 0;
    left: 0;
  }

  ol {
    margin-bottom: 60px;
    li {
      padding-top: 10px;
    }
  }
}

